html, body{
  height: 100%;
  	width: 100%;
	font-family: 'Roboto Serif', sans-serif;
	background-color: #F0F0F0;
}

img {
	max-width: 100%;
	height: auto;
}

.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}


h1 {
    font-weight: bold;
    font-size: 55px;
    line-height: 1.7;
    text-align: left;
}

h3 {
	font-weight: bold;
}

p {
	color: #8f8f8f;
}

.container-fluid {
    padding: 3% auto;
}

/*Animation*/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
/*Animation*/


/*Navbar*/


.favicon{
  height: 60px;
  width: auto;
}

.navbar-brand{
    padding-left: 60px;
}
.navbar{
  padding: .8rem;
transition: top 0.3s;
background-color: #051367;
}
.navbar-nav li{
  padding-left: 20px;
  color: #FFF;
}

.nav-link{
  font-size: 1.1em !important;
}


.navbar-collapse#navbarResponsive a{
  color:  #FFF;
}
.navbar-collapse#navbarResponsive a:hover{
  color: #F1D00A;
}

.favicon{
  transform: translateX(20px);
}
/*Navbar*/ 

/*Features1*/

.main-feature {
	display: flex; 
	flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

#features {
	padding: 8rem 7rem;
	text-align: center;
	background-color: #fff;
}

.feature-box {
	padding: 5%;
}

.fa-solid {
	margin-bottom: 1rem;
}

.icon {
	margin-bottom: 1rem;
	color: 	#3E497A;
}

.icon::hover {
	color: #21325E;
} 	

/*Features1*/


/*Features2*/



.reccomend {
	--bs-gutter-x: 0;
	background-color: #051367;
	text-align: left;
}

.img-rec {
	width: 100%;
	height: auto;
} 

.reccomend h1 {
	padding: 6rem 0 30px;
	color: #F0F0F0;
	line-height: 1.3;
}

.rec1 {
	padding-left: 8rem;
}

.reccomend button {
	margin: 3% 5% 6rem 0;
	padding-bottom: 0;
}

#myDIV {
	display: none;
	border-color: #051367;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}

.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(248, 26, 92);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
/*Features2*/


/*Features3*/

.main-us {
	padding-bottom: 2rem;
}

.main-us .about-us {
	--bs-gutter-x: 0;
}

.about-us {
	padding: 40px 40px 35px 40px;
	background-color: #051367;
	text-align: center;
}

.about-us .info {
	color: #F0F0F0;
}

.about-us img {
	width: 50%;
}

.container-us {
	margin: 5rem 0 1rem;
	text-align: center;
}

.text-us {
	text-align: center;
	margin-top: 5px;
	font-weight: bold;
	font-size: 45px;
}

.info {
	padding-left: 30px;
	text-align: left;
}

.info h2 {
	font-weight: bold;
}

.list-characteristics {
	font-size: 1.125rem;
}

.list-characteristics li {
	margin-top: 8px;
	font-size: 18px;
}

@media (max-width: 1024px) {
  .rec1 h1{
  	font-size: 200%;
  }
  .rec1 h4{
  	font-size: 200%;
  }
  .rec1 button{
  	font-size: 100%;
  }
  .list-characteristics li {
  	font-size: 100%
  }
  .container-us h2 {
  	font-size: 200%;
  }
  .container-us h3 {
  	font-size: 180%;
  }
}
@media (max-width:768px) {
  .rec1 h1{
  	font-size: 150%;
  }
  .rec1 h4{
  	font-size: 150%;
  }
  .rec1 button{
  	font-size: 80%;
  }
  .list-characteristics li {
  	font-size: 80%
  }
  .container-us h2 {
  	font-size: 150%;
  }
  .container-us h3 {
  	font-size: 120%;
  }
}

/*Features3*/

/*Footer*/

#footer{
  background-color: #051367;
}
#fotter-1 h5{
  margin-top: 20px;
  color: #FFF;
  transform: translateX(-30px);
}
#fotter-1 p{
  margin-top: 20px;
  color: #FFF;
  transform: translateX(-20px);
  font-size: 13px;
  width: 100%;
}

#footer-2 h3{
  color: #FFF;
  margin-top: 15px;
}	

/*Footer*/